* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #B20600;
}

.header {
  background-color: #2C3639;
}

.header .logo {
  width: 80px;
  height: 80px;
}

.header #navbarNav .navbar-nav li {
  padding: 10px;
}

.header #navbarNav .navbar-nav li a {
  color: white;
  font-size: 25px;
  font-weight: 500;
}

#main-inicio .hero {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.466)), to(rgba(0, 0, 0, 0.473))), url(../img/fondoInicio.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.466), rgba(0, 0, 0, 0.473)), url(../img/fondoInicio.jpg);
  width: 100%;
  height: 90vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

#main-inicio .hero .container-hero {
  padding: 100px;
  background-color: rgba(128, 128, 128, 0.541);
}

#main-inicio .hero h1 {
  text-align: center;
  color: white;
  font-size: 50px;
  margin-bottom: 50px;
}

#main-inicio .hero a {
  margin-top: 60px;
  background-color: #FF5B00;
  color: white;
  text-decoration: none;
  border: 2px solid #FF5B00;
  padding: 13px;
  font-weight: 600;
}

#main-inicio .container-producto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  margin-top: 3rem;
  margin-bottom: 3rem;
  padding: 10px;
}

#main-inicio .container-producto > div img {
  width: 80px;
  height: 80px;
  margin-top: 20px;
}

#main-inicio .container-producto > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 300px;
  height: 380px;
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.589);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.589);
  border-radius: 15px;
  border: 4px solid #FF5B00;
  background-color: #FF5B00;
  margin: 25px;
  -webkit-transition: 1s;
  transition: 1s;
}

#main-inicio .container-producto > div:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#main-inicio .container-producto div div {
  padding: 20px;
  text-align: center;
}

#main-inicio .container-producto h2 {
  color: black;
  font-size: 32px;
  font-weight: 700;
  margin-top: 30px;
  margin-bottom: 20px;
}

#main-inicio .container-producto p {
  color: black;
  font-size: 20px;
  font-weight: 600;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 250px;
  margin-top: 40px;
}

main .nav-productos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .nav-productos li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
  background-color: #FF5B00;
  width: 260px;
  height: 60px;
  text-align: center;
}

main .nav-productos li a {
  text-decoration: none;
  padding: 5px;
  margin: 5px;
  color: white;
  font-size: 20px;
  font-weight: 600;
}

main .nav-productos li a:hover {
  border-bottom: 5px solid white;
  margin: 2px;
}

main .cards-hamburguesas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .tarjeta {
  width: 220px;
  height: 370px;
  background-color: white;
  border: 3px solid #990000;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 25px;
}

main .img-container {
  width: 100%;
  height: 50%;
  padding: 5px;
}

main .img-container img {
  width: 100%;
  height: 75%;
  border-radius: 10px;
}

main p {
  color: black;
  font-size: 20px;
  font-weight: 600;
  width: 180px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

main .comprar {
  background-color: #990000;
  border: none;
  border-radius: 15px;
  padding: 10px;
  color: white;
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 1s;
  transition: 1s;
}

main .comprar:hover {
  color: #FF8303;
}

#main-contacto .titulo-contacto {
  color: white;
  font-size: 18px;
  margin: 10px;
}

#main-contacto .registro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#main-contacto .registro #formulario-registro {
  width: 44rem;
  height: 29rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 30px;
  padding: 20px;
  border: 2px solid #FF5B00;
  background-color: #FF5B00;
  color: white;
  font-size: 17px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#main-contacto .registro #formulario-registro h2 {
  font-size: 25px;
  text-align: center;
}

#main-contacto .registro #formulario-registro p {
  font-size: 15px;
  color: white;
  width: 100%;
  text-align: center;
}

#main-contacto .registro #formulario-registro .campos {
  width: 19rem;
  border: 1px solid black;
  border-radius: 5px;
  padding: 2px;
}

#main-contacto .registro #formulario-registro .boton-registro {
  width: 6rem;
}

#main-contacto .registro #formulario-registro #submit {
  margin-top: 10px;
  padding: 2px;
  -webkit-transition: 1s;
  transition: 1s;
}

#main-contacto .registro #formulario-registro #submit:hover {
  background-color: #990000;
  border: 2px solid #990000;
  color: white;
}

#main-contacto .registro #registrado h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  color: white;
  font-size: 20px;
  background-color: black;
  padding: 5px;
}

#footer .row {
  background-color: #1B1A17;
}

#footer .logo {
  width: 110px;
  height: 110px;
}

#footer .redes {
  width: 40px;
  height: 40px;
}
