#main-inicio {
    .hero {
        background-image: linear-gradient(rgba(0,0,0,0.466), rgba(0,0,0,0.473)), url(../img/fondoInicio.jpg);
        width: 100%;
        height: 90vh;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        background-attachment: fixed;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        .container-hero {
            padding: 100px;
            background-color: rgba(128, 128, 128, 0.541);
        }
        h1 {
            text-align: center;
            color: white;
            font-size: 50px;
        }
        button {
            margin-top: 20px;
            background-color: #FF5B00;
            color: white;
        }
    }
    .subtitulo-inicio {
        h2 {
            text-align: center;
            margin: 20px;
            color: white;
            font-size: 45px;
        }
    }
    #cartas {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
        margin-top: 3rem;
        padding: 10px;
        .card {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            width: 300px;
            height: 380px;
            box-shadow: 0 10px 20px rgba(0,0,0,0.19);
            border-radius: 15px;
            border: 4px solid #D4D925;
            background-color: #D4D925;
            margin: 25px;
            .card-body {
                h5 {
                    color: black;
                }
                p {
                    color: black;
                }
                .btn {
                    background-color: green;
                    color: white;
                }
            }
        }
    }
}



// PRODUCTO

main {
    .container-cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .tarjeta {
        width: 300px;
        height: 300px;
        background-color: #D4D925;
        border: 3px solid black;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        margin: 25px;

    }
    .img-container {
        width: 100%;
        height: 75%;
        img {
            width: 100%;
            height: 75%;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
        }
    }   
    p {
        color: black;
        font-size: 19px;
        font-weight: 600;
        display: flex;
        justify-content: center;
    }
}

// CONTACTO

#main-contacto {
    .titulo-contacto {
        color: white;
        font-size: 18px;
        margin: 10px;
    }
    .registro {
        display: flex;
        justify-content: center;
        #formulario-registro {
            width: 44rem;
            height: 29rem;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin: 30px;
            padding: 20px;
            border: 2px solid #FF5B00;
            background-color: #FF5B00;
            color: white;
            font-size: 17px;
            h2 {
                font-size: 25px;
            }
            p {
                font-size: 15px;
                color: white;
            }
            .campos {
                width: 19rem;
                border: 1px solid black;
                border-radius: 5px;
                padding: 2px;
            }
            .boton-registro {
                width: 6rem;
            }
            #submit {
                margin-top: 10px;
                padding: 2px;
                transition: 1s;
                &:hover {
                    background-color: #990000;
                    border: 2px solid #990000;
                    color: white;
                }
            }
        }
    }
}

